#wrapper{
    background-color: SteelBlue;
    width: 970px;
}

.text_option{
    font-size: 12px;
    text-align: right;
    color: white
}

.text_option a{
    color: gold;

}

.text_option p{
    color: black;
    display: inline;
}

.header_block {
    width: 49%;
    height: 100px;
    display: inline-block;
    vertical-align:top;
    margin-top:5px;
}


.search_bar {
    float: right;
    margin-right: -5px;
    display: inline-block;

    background-color: Grey;
    border: 1px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-radius: 15px;
    
    height: 60px;
    width:300px;
}

#search {
    margin-top:18px;
    margin-left: 55px;
    height:20px;
    width: 150px;
    text-align: center;
    color: LightGrey;
}

.search_bar button{
    height: 22px;
    width: 35px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: SteelBlue;
}

.nav_bar {
    margin-left: 70px;
    margin-right: 40px;
    height:60px;
    background-color: LightSteelBlue;
    border-radius: 8px;
    box-shadow: 4px 4px;
}
.nav_button{
    background-color: LightSteelBlue;
    margin-top: 5px;
    margin-left: 5px;
    width: 135px;
    height: 50px;
    display: inline-block;
}
.nav_button a{
    display: flex;
    justify-content:center;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 13px;
    font-size: 20px
}
.sidebar_nav {
    margin-left: 80px;
    display: inline-block;
}
.sidebar_nav ul li {
    display: flex;
    justify-content: center;
    color: gold;
    margin-top: 18px;
    line-height: 15px;
    font-size: 8px;
}
.sidebar_nav ul li a {
    color: white;
    margin-top: 0px;
    list-style-type: circle;
    font-size:18px;

}
.main_content {
    display: inline-block;
    margin-left: 40px;
    width: 550px;
    vertical-align: top;
}	
.main_content p.text{
    text-align: center;
    font-size: 16px;
}
.main_content p.quote{
    text-align: center;
    font-size: 20px;
    color: gold;
    font-style: italic;
}
.main_content p.end{
    color: white;
}
